h1 {
    color: firebrick;
    text-align: center;
    font-family: verdana;
    font-size: 50px
}

p {
    background-color: aqua
}

.testo {
    align-content: center;
    align-self: center;
    align-items: center;
    vertical-align: bottom;
    background-color: aquamarine;
    width: 300px;
    padding: 25px;
    box-sizing: border-box;

}

body {
    background: #5af158;
    font-family: cursive;
    font-size: 23px;
    list-style-type: armenian
}
