<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm-net api</title>
</head>
<body>
    <h1>Api of algorithm-net.com site</h1>
    <p>This is a test api tha give the current italy times, <a href="https://algorithm-net.com">algorithm-net.com</a></p>
    <ul>
        <li><a href="/timeapi/time">Time api</a></li>
        <li><ul><li><a href="/loginapi/api">Login Api</a></li><li><a href="/loginapi/fd">Frontend</a></li></ul></li>
    </ul>
</body>
</html>